<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form id="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <textarea name="post-message">{{post.message}}</textarea>
    </div>

    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>

    <input name="post-id" type="hidden" value="{{post.id}}" />

    <script src="/scripts/edit-post.js"></script>
    <script src="/scripts/delete-post.js"></script>